//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content

    h1(style='color:#4099AF;')= title
    p This is the results of
        span.twitter-text #{title} 
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Language.png', height='600', width='600')
    br
    p Different language usage in tweets
    
    a.btn.btn-lg.btn-theme(href="/") Back