//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content

    h1(style='color:#4099AF;')= title
    p This is the results of
        span.twitter-text #{title} 
    canvas(id='chart1', width='600', height='400')
    p Linear Regression: y = 6.7023E-7x + 108964
    br
    script(type='text/javascript').
    
        var msg = '!{msg}';
        var i = '!{income_arr}';
        var s = '!{sentiment_arr}';
        var i_eval = JSON.parse(i);
        var s_eval = JSON.parse(s);
        
        function sum_arr(array){
            var sum = 0;
            for(var i=0, n=array.length; i < n; i++) 
            { 
                sum += array[i]; 
            }
            return sum;
        }
       
        var arr01 = [];
        var arr12 = [];
        var arr23 = [];
        var arr34 = [];
        var arr45 = [];
        var arr56 = [];
        var arr67 = [];
        var arr70 = [];

        var arr_res = [];
        function cal(){
            var i = 0;
            for(var data in i_eval) {
            
                if (i_eval[data] < 10000){
                    arr01.push(s_eval[i]);
                } else if (i_eval[data] < 20000){
                    arr12.push(s_eval[i]);
                } else if (i_eval[data] < 30000){
                    arr23.push(s_eval[i]);
                } else if (i_eval[data] < 40000){
                    arr34.push(s_eval[i]);
                } else if (i_eval[data] < 50000){
                    arr45.push(s_eval[i]);
                } else if (i_eval[data] < 60000){
                    arr56.push(s_eval[i]);
                } else if (i_eval[data] < 70000){
                    arr67.push(s_eval[i]);
                } else {
                    arr70.push(s_eval[i]);
                }
                i = i + 1;
            }
        }
        cal();
        
        var sum1 = sum_arr(arr01)/arr01.length;
        var sum2 = sum_arr(arr12)/arr12.length;
        var sum3 = sum_arr(arr23)/arr23.length;
        var sum4 = sum_arr(arr34)/arr34.length;
        var sum5 = sum_arr(arr45)/arr45.length;
        var sum6 = sum_arr(arr56)/arr56.length;
        var sum7 = sum_arr(arr67)/arr67.length;
        var sum8 = sum_arr(arr70)/arr70.length;

        arr_res.push(sum1);
        arr_res.push(sum2);
        arr_res.push(sum3);
        arr_res.push(sum4);
        arr_res.push(sum5);
        arr_res.push(sum6);    
        arr_res.push(sum7);
        arr_res.push(sum8);
        var reg = [];

        for(var i in arr_res){
            var regression = 0.000000067023809 * 10000*(i+1) + 0.108964;
            reg.push(regression);
        }

        
        var data = {
            labels: ["<10000","<20000","<30000","<40000","<50000","<60000","<70000","more than 70000"],
            datasets: [
                {
                    label: "Income & Sentiment",
                    fillColor: "rgba(255,220,220,0)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: arr_res
                },
                {
                    label: "Linear regression",
                    fillColor: "rgba(255,54,53,0)",
                    strokeColor: "rgba(255,54,53,0.8)",
                    highlightFill: "rgba(255,54,53,0)",
                    highlightStroke: "rgba(255,54,53,1)",
                    data: reg
                }
            ]
        };
        
        var ctx = document.getElementById("chart1").getContext("2d");
        var myLineChart = new Chart(ctx).Line(data);

    a.btn.btn-lg.btn-theme(href="/") Back
