//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content

    h1(style='color:#4099AF;')= title
    p This is the results of
        span.twitter-text #{title} 
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment1.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment2.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment3.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment4.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment5.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment6.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment7.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment8.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment9.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment10.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment11.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment12.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment13.png', height='600', width='600')
    br
    img(src='https://s3-ap-southeast-2.amazonaws.com/geoccc/Analysis-Employment14.png', height='600', width='600')
    br
    p Different employment level & tweets
    
    a.btn.btn-lg.btn-theme(href="/") Back