//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content

    h1(style='color:#4099AF;')= title
    p This is the results of
        span.twitter-text #{title}
    p Bottleshop number & Alcohol related tweet
    canvas(id='chart1', width='600', height = '400')
    br
    p Bottleshop number & Crime related tweet
    canvas(id='chart2', width='600', height = '400')
    br
    p Bottleshop number & Sentiment analysis
    canvas(id='chart3', width='600', height = '400')
    br
    p Bottleshop number & Tweet number
    canvas(id='chart4', width='600', height = '400')
    p Logarithmic Regression Coefficient of Determination: 0.7994742911
    br
    p Bottleshop number & Traffic related tweet
    canvas(id='chart5', width='600', height = '400')
    script(type='text/javascript').
        var b = '!{bottleshop_arr}';
        var a = '!{alcohol_arr}';
        var c = '!{crime_arr}';
        var s = '!{sentiment_arr}';
        var t = '!{tweet_arr}';
        var tr = '!{traffic_arr}';
        var log = '!{log_arr}';
        var a_eval = JSON.parse(a).slice(0,-1);
        var b_eval = JSON.parse(b).slice(0,-1);
        var c_eval = JSON.parse(c).slice(0,-1);
        var s_eval = JSON.parse(s).slice(0,-1);
        var t_eval = JSON.parse(t).slice(0,-1);
        var tr_eval = JSON.parse(tr).slice(0,-1);
        var log_eval = JSON.parse(log).slice(0,-1);
        var alc_arr01 = [],alc_arr02 = [],alc_arr03 = [],alc_arr04 = [],alc_arr05 = [],alc_arr06 = [],alc_arr07 = [],alc_arr08 = [],alc_arr09 = [],alc_arr10 = [],alc_arr11= [];
        var cri_arr01 = [],cri_arr02 = [],cri_arr03 = [],cri_arr04 = [],cri_arr05 = [],cri_arr06 = [],cri_arr07 = [],cri_arr08 = [],cri_arr09 = [],cri_arr10 = [],cri_arr11= [];
        var sen_arr01 = [],sen_arr02 = [],sen_arr03 = [],sen_arr04 = [],sen_arr05 = [],sen_arr06 = [],sen_arr07 = [],sen_arr08 = [],sen_arr09 = [],sen_arr10 = [],sen_arr11= [];
        var twe_arr01 = [],twe_arr02 = [],twe_arr03 = [],twe_arr04 = [],twe_arr05 = [],twe_arr06 = [],twe_arr07 = [],twe_arr08 = [],twe_arr09 = [],twe_arr10 = [],twe_arr11= [];
        var tra_arr01 = [],tra_arr02 = [],tra_arr03 = [],tra_arr04 = [],tra_arr05 = [],tra_arr06 = [],tra_arr07 = [],tra_arr08 = [],tra_arr09 = [],tra_arr10 = [],tra_arr11= [];
        function sum_arr(array){
            var sum = 0;
            for(var i=0, n=array.length; i < n; i++) 
            { 
                sum += array[i]; 
            }
            return sum;
        }
        
        function cal(){
            var i = 0;
            for(var j in b_eval) {
                if(b_eval[j] < 20){
                    alc_arr01.push(a_eval[i]);
                    cri_arr01.push(c_eval[i]);
                    sen_arr01.push(s_eval[i]);
                    twe_arr01.push(t_eval[i]);
                    tra_arr01.push(tr_eval[i]);  
                    
                } else if(b_eval[j] < 40){
                    alc_arr02.push(a_eval[i]);
                    cri_arr02.push(c_eval[i]);
                    sen_arr02.push(s_eval[i]);
                    twe_arr02.push(t_eval[i]);
                    tra_arr02.push(tr_eval[i]);
                } else if(b_eval[j] < 60){
                    alc_arr03.push(a_eval[i]);
                    cri_arr03.push(c_eval[i]);
                    sen_arr03.push(s_eval[i]);
                    twe_arr03.push(t_eval[i]);
                    tra_arr03.push(tr_eval[i]);
                } else if(b_eval[j] < 80){
                    alc_arr04.push(a_eval[i]);
                    cri_arr04.push(c_eval[i]);
                    sen_arr04.push(s_eval[i]);
                    twe_arr04.push(t_eval[i]);
                    tra_arr04.push(tr_eval[i]);
                } else if(b_eval[j] < 100){
                    alc_arr05.push(a_eval[i]);
                    cri_arr05.push(c_eval[i]);
                    sen_arr05.push(s_eval[i]);
                    twe_arr05.push(t_eval[i]);
                    tra_arr05.push(tr_eval[i]);
                } else if(b_eval[j] < 120){
                    alc_arr06.push(a_eval[i]);
                    cri_arr06.push(c_eval[i]);
                    sen_arr06.push(s_eval[i]);
                    twe_arr06.push(t_eval[i]);
                    tra_arr06.push(tr_eval[i]);
                } else if(b_eval[j] < 140){
                    alc_arr07.push(a_eval[i]);
                    cri_arr07.push(c_eval[i]);
                    sen_arr07.push(s_eval[i]);
                    twe_arr07.push(t_eval[i]);
                    tra_arr07.push(tr_eval[i]);
                } else if(b_eval[j] < 160){
                    alc_arr08.push(a_eval[i]);
                    cri_arr08.push(c_eval[i]);
                    sen_arr08.push(s_eval[i]);
                    twe_arr08.push(t_eval[i]);
                    tra_arr08.push(tr_eval[i]);
                } else if(b_eval[j] < 180){
                    alc_arr09.push(a_eval[i]);
                    cri_arr09.push(c_eval[i]);
                    sen_arr09.push(s_eval[i]);
                    twe_arr09.push(t_eval[i]);
                    tra_arr09.push(tr_eval[i]);
                } else if(b_eval[j] < 200){
                    alc_arr10.push(a_eval[i]);
                    cri_arr10.push(c_eval[i]);
                    sen_arr10.push(s_eval[i]);
                    twe_arr10.push(t_eval[i]);
                    tra_arr10.push(tr_eval[i]);
                } else {
                    alc_arr11.push(a_eval[i]);
                    cri_arr11.push(c_eval[i]);
                    sen_arr11.push(s_eval[i]);
                    twe_arr11.push(t_eval[i]);
                    tra_arr11.push(tr_eval[i]);
                }
                i = i + 1;
            }
        }
        
        cal();
        
        var alc_sum = [];
        alc_sum.push(sum_arr(alc_arr01));
        alc_sum.push(sum_arr(alc_arr02));
        alc_sum.push(sum_arr(alc_arr03));
        alc_sum.push(sum_arr(alc_arr04));
        alc_sum.push(sum_arr(alc_arr05));
        alc_sum.push(sum_arr(alc_arr06));
        alc_sum.push(sum_arr(alc_arr07));
        alc_sum.push(sum_arr(alc_arr08));
        alc_sum.push(sum_arr(alc_arr09));
        alc_sum.push(sum_arr(alc_arr10));
        alc_sum.push(sum_arr(alc_arr11));
        
        var cri_sum = [];
        cri_sum.push(sum_arr(cri_arr01));
        cri_sum.push(sum_arr(cri_arr02));
        cri_sum.push(sum_arr(cri_arr03));
        cri_sum.push(sum_arr(cri_arr04));
        cri_sum.push(sum_arr(cri_arr05));
        cri_sum.push(sum_arr(cri_arr06));
        cri_sum.push(sum_arr(cri_arr07));
        cri_sum.push(sum_arr(cri_arr08));
        cri_sum.push(sum_arr(cri_arr09));
        cri_sum.push(sum_arr(cri_arr10));
        cri_sum.push(sum_arr(cri_arr11));
        
        var sen_avg = [];
        sen_avg.push(sum_arr(sen_arr01)/sen_arr01.length);
        sen_avg.push(sum_arr(sen_arr02)/sen_arr02.length);
        sen_avg.push(sum_arr(sen_arr03)/sen_arr03.length);
        sen_avg.push(sum_arr(sen_arr04)/sen_arr04.length);
        sen_avg.push(sum_arr(sen_arr05)/sen_arr05.length);
        sen_avg.push(sum_arr(sen_arr06)/sen_arr06.length);
        sen_avg.push(sum_arr(sen_arr07)/sen_arr07.length);
        sen_avg.push(sum_arr(sen_arr08)/sen_arr08.length);
        sen_avg.push(sum_arr(sen_arr09)/sen_arr09.length);
        sen_avg.push(sum_arr(sen_arr10)/sen_arr10.length);
        sen_avg.push(sum_arr(sen_arr11)/sen_arr11.length);
        
        var twe_sum = [];
        twe_sum.push(sum_arr(twe_arr01));
        twe_sum.push(sum_arr(twe_arr02));
        twe_sum.push(sum_arr(twe_arr03));
        twe_sum.push(sum_arr(twe_arr04));
        twe_sum.push(sum_arr(twe_arr05));
        twe_sum.push(sum_arr(twe_arr06));
        twe_sum.push(sum_arr(twe_arr07));
        twe_sum.push(sum_arr(twe_arr08));
        twe_sum.push(sum_arr(twe_arr09));
        twe_sum.push(sum_arr(twe_arr10));
        twe_sum.push(sum_arr(twe_arr11));
        
        var tra_sum = [];
        tra_sum.push(sum_arr(tra_arr01));
        tra_sum.push(sum_arr(tra_arr02));
        tra_sum.push(sum_arr(tra_arr03));
        tra_sum.push(sum_arr(tra_arr04));
        tra_sum.push(sum_arr(tra_arr05));
        tra_sum.push(sum_arr(tra_arr06));
        tra_sum.push(sum_arr(tra_arr07));
        tra_sum.push(sum_arr(tra_arr08));
        tra_sum.push(sum_arr(tra_arr09));
        tra_sum.push(sum_arr(tra_arr10));
        tra_sum.push(sum_arr(tra_arr11));
        var alc_reg = [], cri_reg = [], sen_reg = [], twe_reg = [], tra_reg = [];
        var count = 0;
        for(var i in alc_sum){
            count = count + 1;
            alc_reg.push(385.78181818182-1.3118181818182*20*count);
            cri_reg.push(178.18181818182-0.64318181818182*20*count);
            sen_reg.push(0.14443636363636-0.00015454545454545*20*count);
            twe_reg.push(-138.6122406*Math.log(20*count) + 699.710627);
            tra_reg.push(399.83636363636-1.6736363636364*20*count);
        }
        var data_1 = {
            labels: ["<20","<40","<60","<80","<100","<120","<140","<160","<180","<200","more than 200"],
            datasets: [
                {
                    label:"Alcohol",
                    fillColor: "rgba(220,220,220,0)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: alc_sum
                },
                {
                    label:"Regression",
                    fillColor: "rgba(255,54,53,0)",
                    strokeColor: "rgba(255,54,53,0.8)",
                    highlightFill: "rgba(255,54,53,0)",
                    highlightStroke: "rgba(255,54,53,1)",
                    data: alc_reg
                }
            ]
        };
        var data_2 = {
            labels: ["<20","<40","<60","<80","<100","<120","<140","<160","<180","<200","more than 200"],
            datasets: [
                {
                    label:"Crime",
                    fillColor: "rgba(106,247,85,0)",
                    strokeColor: "rgba(106,247,85,0.8)",
                    highlightFill: "rgba(106,247,85,0)",
                    highlightStroke: "rgba(106,247,85,1)",
                    data: cri_sum
                },
                {
                    label:"Regression",
                    fillColor: "rgba(255,54,53,0)",
                    strokeColor: "rgba(255,54,53,0.8)",
                    highlightFill: "rgba(255,54,53,0)",
                    highlightStroke: "rgba(255,54,53,1)",
                    data: cri_reg
                }
            ]
        };
        var data_3 = {
            labels: ["<20","<40","<60","<80","<100","<120","<140","<160","<180","<200","more than 200"],
            datasets: [
                {
                    label:"Sentiment",
                    fillColor: "rgba(128,97,252,0)",
                    strokeColor: "rgba(128,97,252,0.8)",
                    highlightFill: "rgba(128,97,252,0)",
                    highlightStroke: "rgba(128,97,252,1)",
                    data: sen_avg
                },
                {
                    label:"Log Regression",
                    fillColor: "rgba(255,54,53,0)",
                    strokeColor: "rgba(255,54,53,0.8)",
                    highlightFill: "rgba(255,54,53,0)",
                    highlightStroke: "rgba(255,54,53,1)",
                    data: sen_reg
                }
            ]
        };
        var data_4 = {
            labels: ["<20","<40","<60","<80","<100","<120","<140","<160","<180","<200","more than 200"],
            datasets: [
                {
                    label:"Tweet",
                    fillColor: "rgba(84,149,212,0)",
                    strokeColor: "rgba(84,149,212,0.8)",
                    highlightFill: "rgba(84,149,212,0)",
                    highlightStroke: "rgba(84,149,212,1)",
                    data: twe_sum
                },
                {
                    label:"Log Regression",
                    fillColor: "rgba(255,54,53,0)",
                    strokeColor: "rgba(255,54,53,0.8)",
                    highlightFill: "rgba(255,54,53,0)",
                    highlightStroke: "rgba(255,54,53,1)",
                    data: twe_reg
                }
            ]
        };
        var data_5 = {
            labels: ["<20","<40","<60","<80","<100","<120","<140","<160","<180","<200","more than 200"],
            datasets: [
                {
                    label:"Traffic",
                    fillColor: "rgba(255,221,54,0)",
                    strokeColor: "rgba(255,221,54,0.8)",
                    highlightFill: "rgba(255,221,54,0)",
                    highlightStroke: "rgba(255,221,54,1)",
                    data: tra_sum
                },
                {
                    label:"Log Regression",
                    fillColor: "rgba(255,54,53,0)",
                    strokeColor: "rgba(255,54,53,0.8)",
                    highlightFill: "rgba(255,54,53,0)",
                    highlightStroke: "rgba(255,54,53,1)",
                    data: tra_reg
                } 
            ]
        };
                               
        var ctx_1 = document.getElementById("chart1").getContext("2d");

        var myLineChart_1 = new Chart(ctx_1).Line(data_1);

        var ctx_2 = document.getElementById("chart2").getContext("2d");

        var myLineChart_2 = new Chart(ctx_2).Line(data_2);

        var ctx_3 = document.getElementById("chart3").getContext("2d");

        var myLineChart_3 = new Chart(ctx_3).Line(data_3);

        var ctx_4 = document.getElementById("chart4").getContext("2d");

        var myLineChart_4 = new Chart(ctx_4).Line(data_4);

        var ctx_5 = document.getElementById("chart5").getContext("2d");

        var myLineChart_5 = new Chart(ctx_5).Line(data_5);
    a.btn.btn-lg.btn-theme(href="/") Back
