//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content

    h1(style='color:#4099AF;')= title
    p This is the results of
        span.twitter-text #{title} 
    p Happy emoticons
    canvas(id='chart1', width='600', height='400')
    br
    p Frown emoticons
    canvas(id='chart2', width='400', height='400')
    br
    
    a.btn.btn-lg.btn-theme(href="/") Back
    script(type='text/javascript').
    
        var msg = '!{msg}';
        var h = '!{happy_arr}';
        var f = '!{frown_arr}';
        var hc = '!{hcount_arr}';
        var fc = '!{fcount_arr}';
        var h_eval = JSON.parse(h);
        var f_eval = JSON.parse(f);
        var hc_eval = JSON.parse(hc);
        var fc_eval = JSON.parse(fc);
        var data_1 = {
            labels: h_eval,
            datasets: [
                {
                    label: "Number",
                    backgroundColor: "rgba(255,99,132,0.2)",
                    borderColor: "rgba(106,247,85,1)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(106,247,85,0.4)",
                    hoverBorderColor: "rgba(106,247,85,1)",
                    data: hc_eval
                }
            ]
        };
        var data_2 = {
            labels: f_eval,
            datasets: [
                {
                    label: "Number",
                    backgroundColor: "rgba(106,247,85,0.2)",
                    borderColor: "rgba(106,247,85,1)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(106,247,85,0.4)",
                    hoverBorderColor: "rgba(106,247,85,1)",
                    data: fc_eval
                }
            ]
        };
                               
        var ctx_1 = document.getElementById("chart1").getContext("2d");

        var myLineChart_1 = new Chart(ctx_1).Bar(data_1);
        
        var ctx_2 = document.getElementById("chart2").getContext("2d");

        var myLineChart_2 = new Chart(ctx_2).Bar(data_2);
        
        