//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content
  h1= message
  h2= error.status
  h1 This is not where you should be. It's too dangerous. Go back.
  
  a.btn.btn-lg.btn-theme(href="/") Back
