//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content
  h1(style='color:#4099AF;')= title
  p Welcome to
    span.twitter-text #{title}

  p Feel free to get lost in this app. 
  a.btn.btn-lg.btn-theme(href="/lost") Don't press this button!
  p Thanks for using
    span.twitter-text #{title}
