//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content
    h1(style='color:#4099AF;')= title
    p This is the results of
        span.twitter-text #{title}
        #map
        #info-box
        script.
          var n = '!{name_arr}';
          var s = '!{value_arr}';
          var l = '!{lang_arr}';
          var n_eval = JSON.parse(n);
          var s_eval = JSON.parse(s);
          var l_eval = JSON.parse(l);
          var map;
          var featureStyle = {
              strokeColor: '#ff3333',
              strokeWeight: 4
          };
          function initMap() {  
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -37.8141, lng: 144.9633},
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.SATELLITE
              });
              try {
                map.data.loadGeoJson('https://raw.githubusercontent.com/CarlXue/git-demo/master/geoserver.json'); 
              } catch (err) {
                alert("Loading GeoJSON failed.");  
              }
              function getAllIndexes(arr, val) {
                var indexes = [], i;
                for(i = 0; i < arr.length; i++)
                    if (arr[i] === val)
                        indexes.push(i);
                return indexes;
              }

              
              map.data.addListener('click', function (event) {
                  var s_name = event.feature.getProperty('vic_loca_2');
                  var i = n_eval.indexOf(s_name,0);
                  
                  var indexes = getAllIndexes(n_eval, s_name);
                  for(var j in indexes){
                      var content = '';
                      var i = indexes[j];
                      content = 'Language usage of ' + l_eval[i]  + ' in ' + s_name +' is ' + s_eval[i];
                      var para = document.createElement("p");
                      var node = document.createTextNode(content);
                      para.appendChild(node);
                      var element = document.getElementById("info-box");
                      element.appendChild(para);                                              
                  }
              });
          }      
          
       script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBFTcYUCRQyw9P2b-h-_oFyO4Pgr4VOB3E&callback=initMap', async='', defer='')
    a.btn.btn-lg.btn-theme(href="/") Back