//Team: 4; Melbourne; Song Xue (667692)

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maxcdn.bootstrapcjljjdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js')
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
                nav.nav.nav-masthead
                    .dropdown
                      button.dropbtn Home
                        |   
                        .dropdown-content
                          a(href='/') Home
                    .dropdown
                      button.dropbtn Discovery
                        |   
                        .dropdown-content
                          a(href='/top10/users') Top 10 Users
                               
                          a(href='/top10/topics') Top 10 Topics
                               
                          a(href='/top10/suburbs') Top 10 Suburbs
                          
                          a(href='/top10/hours') Active Hours
                          
                          a(href='/emoji') Emoticon Stats
                    .dropdown
                      button.dropbtn GeoInterest
                        |   
                        .dropdown-content
                          a(href='/geo/tweet') Tweet Number
                               
                          a(href='/geo/sentiment') Sentiment Analysis
                               
                          a(href='/geo/politics') Politics Related Tweets
                          
                          a(href='/geo/science') Science Related Tweets
                          
                          a(href='/geo/romance') Romance Related Tweets
                          
                          a(href='/geo/language') Language Usage
                    .dropdown
                      button.dropbtn Scenario
                        |   
                        .dropdown-content
                          a(href='/scenario/income') Income & Sentiment
                               
                          a(href='/scenario/employment') Employment & Tweet
                               
                          a(href='/scenario/language') Language & Tweet
                          
                          a(href='/scenario/alcohol') Alcohol & Traffic, Income, Sentiment

          .inner.cover
              block content
