//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content
    h1(style='color:#4099AF;')= title
    p This is the results of
        span.twitter-text #{title}
        #map
        #info-box
        script.
          var n = '!{name_arr}';
          var s = '!{value_arr}';
          var n_eval = JSON.parse(n);
          var s_eval = JSON.parse(s);
          var map;
          var featureStyle = {
              strokeColor: '#ff3333',
              strokeWeight: 4
          };
          function initMap() {  
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -37.8141, lng: 144.9633},
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.SATELLITE
              });
              try {
                map.data.loadGeoJson('https://raw.githubusercontent.com/CarlXue/git-demo/master/geoserver.json'); 
              } catch (err) {
                alert("Loading GeoJSON failed.");  
              }
              
              map.data.setStyle(function (feature) {
                  var s_name = feature.getProperty('vic_loca_2');
                  var color = 'red';
                  var opacity = 0;
                  for (var i = 0; i < n_eval.length; i++){
                      if (s_name == n_eval[i].toUpperCase()){
                          //scale out from [-1,1] to [0, 100]
                          opacity = s_eval[i]/10;
                          if (opacity > 1) {
                              opacity = 1;
                          }
                      }
                  }
                  return {
                      fillColor: color,
                      fillOpacity: opacity,
                      strokeWeight: 1
                  };
              });
              map.data.addListener('click', function (event) {
                  var s_name = event.feature.getProperty('vic_loca_2');
                  var i = n_eval.indexOf(s_name,0);
                  document.getElementById('info-box').textContent =
                          'Politics tweet number of ' + s_name +' is ' + s_eval[i];
              });
          }      
          
       script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBFTcYUCRQyw9P2b-h-_oFyO4Pgr4VOB3E&callback=initMap', async='', defer='')
    a.btn.btn-lg.btn-theme(href="/") Back