//Team: 4; Melbourne; Song Xue (667692)

extends layout

block content

    h1(style='color:#4099AF;')= title
    p This is the results of
        span.twitter-text #{title} 
    canvas(id='chart1', width='600', height='400')
    br
    a.btn.btn-lg.btn-theme(href="/") Back
    script(type='text/javascript').
    
        var msg = '!{msg}';
        var i = '!{name_arr}';
        var s = '!{value_arr}';
        var i_eval = JSON.parse(i);
        var s_eval = JSON.parse(s);
        
        var data_1 = {
            labels: i_eval.slice(0,11),
            datasets: [
                {
                    label:"Number",
                    fillColor: "rgba(255,221,54,0)",
                    strokeColor: "rgba(255,221,54,0.8)",
                    highlightFill: "rgba(255,221,54,0)",
                    highlightStroke: "rgba(255,221,54,1)",
                    data: s_eval.slice(0,11)
                }
            ]
        };
                               
        var ctx_1 = document.getElementById("chart1").getContext("2d");

        var myLineChart_1 = new Chart(ctx_1).Bar(data_1);